.topnav{
    overflow: hidden;
    background-color: rgb(23, 33, 23);
}

.topnav a{
    float: left;
    display: block;
    color: #e6dede;
    padding: 15px 17px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(107, 186, 22);
    color: whitesmoke;
}
.topnav a active {
    background-color: aquamarine;
    color: gray;
    

}
